package widgets

import (
  "fmt"
)

templ Counter(count int) {
<form hx-post="/counter" hx-swap="outerHTML" class="flex flex-col" hx-ext="disable-element" hx-disable-element="#count-submit">
  <input type="hidden" name="count" value={ fmt.Sprint(count) } />
  <button id="count-submit" type="submit" class="btn btn-primary" >
    <span class="loading loading-spinner htmx-indicator"></span> Click Me { fmt.Sprint(count) }
  </button>

  if count > 0 {
    <p>You did it, good job 🎉</p>
    <p>No javascript here! Check the network tab.</p>
  }
</form>
}
